# Notebook for Coursera Capstone project

# week 1

In [74]:
# import libs
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [75]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

[Watson Studio share link](https://jp-tok.dataplatform.cloud.ibm.com/analytics/notebooks/v2/1f93ac15-f21b-449c-b6da-ac9ed73e778a/view?access_token=25d992bd79bc2469e5a1a6f3ebb529d4e3e3d7fa53822dd1dae17ff79a45995c)

# week 3

In [76]:
# Setup
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.options.display.max_colwidth = -1

## Read table from wikipedia.  The post code is contained in  the first 'Postcode' table.

In [77]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url, match='Postcode', header=0)
postcode=dfs[0]
#print(type(postcode))
#print(postcode.shape)
postcode.head()

  Postcode           Borough     Neighbourhood
0  M1A      Not assigned      Not assigned
1  M2A      Not assigned      Not assigned
2  M3A      North York        Parkwoods
3  M4A      North York        Victoria Village
4  M5A      Downtown Toronto  Harbourfront

## Remove Not Assigned Boroughs

In [78]:
# remove Not assigned
postcode_edit=postcode[postcode['Borough']!='Not assigned']
postcode_edit.head()

  Postcode           Borough     Neighbourhood
2  M3A      North York        Parkwoods
3  M4A      North York        Victoria Village
4  M5A      Downtown Toronto  Harbourfront
5  M5A      Downtown Toronto  Regent Park
6  M6A      North York        Lawrence Heights

## Replace NA Neighbourhoods with its Borough

In [79]:
# set Borough for Not assigned Neighbourhood
idx=postcode_edit['Neighbourhood']=='Not assigned'
postcode_edit.loc[idx, 'Neighbourhood']=postcode_edit.loc[idx, 'Borough']
#postcode_edit.set_index('Postcode').reset_index()
postcode_edit[idx]

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

  Postcode       Borough Neighbourhood
8  M7A      Queen's Park  Queen's Park

## group and join same postcode and Borough

In [80]:
pcdata = postcode_edit.groupby(['Postcode', 'Borough'], sort=False)['Neighbourhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()
pcdata.head()

  Postcode           Borough                    Neighbourhood
0  M3A      North York        Parkwoods
1  M4A      North York        Victoria Village
2  M5A      Downtown Toronto  Harbourfront,Regent Park
3  M6A      North York        Lawrence Heights,Lawrence Manor
4  M7A      Queen's Park      Queen's Park

## Shape of final dataframe

In [81]:
pcdata.shape

(103, 3)

# week3-part2

## setup geocoder

In [82]:
!pip install geocoder
import geocoder # import geocoder

Requirement already satisfied: geocoder in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.38.1)
Requirement already satisfied: future in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: click in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: ratelim in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)

## Define util function for geocoder

In [83]:
def findlonlat_geocoder(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        #g = geocoder.google('{}, Toronto, Ontario'.format(postal_code)) # ACCESS_DENIED; probably require access token
        # this seem to reliably work, Thanks to Joana Smith - https://www.coursera.org/learn/applied-data-science-capstone/profiles/08f0dfd5c661ddf3f9a548157003dff4
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        print('{}:{}'.format(postal_code, g.latlng))
        lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    
    return(latitude, longitude)

### test

In [91]:
findlonlat_geocoder('M5G')

M5G:[43.65609081300005, -79.38492999999994]

(43.65609081300005, -79.38492999999994)

## Add lonlat of each postal code

In [85]:
data = pcdata['Postcode'].apply(lambda x: pd.Series(findlonlat_geocoder(x)))
data.columns=['Latitude', 'Longitude']
data.head()

M3A:[43.752440000000036, -79.32927072599995]
M4A:[43.730420577000075, -79.31331999999998]
M5A:[43.65512000000007, -79.36263979699999]
M6A:[43.72312500000004, -79.45158914699994]
M7A:[43.66110229800006, -79.39103499999999]
M9A:[43.662242201000026, -79.52837877199994]
M1B:[43.811525000000074, -79.19551721399995]
M3B:[43.74919500000004, -79.36190541699995]
M4B:[43.707535000000064, -79.31177329699995]
M5B:[43.65736301100003, -79.37817999999999]
M6B:[43.70799000000005, -79.44836733199998]
M9B:[43.64969222700006, -79.55394499999994]
M1C:[43.78573000000006, -79.15874999999994]
M3C:[43.72142500000007, -79.34345278999996]
M4C:[43.68966500000005, -79.30716910999996]
M5C:[43.65121000000005, -79.37548057699996]
M6C:[43.692105179000066, -79.43035499999996]
M9C:[43.648573449000025, -79.57824999999997]
M1E:[43.76569000000006, -79.17525603599995]
M4E:[43.67684518300007, -79.29522499999996]
M5E:[43.64516015600003, -79.37367499999993]
M6E:[43.68864000000008, -79.45101525299998]
M1G:[43.76835912100006, -79.21758999999997]
M4G:[43.70976500000006, -79.36390090899994]
M5G:[43.65609081300005, -79.38492999999994]
M6G:[43.66878132800008, -79.42070999999999]
M1H:[43.76968799900004, -79.23943999999995]
M2H:[43.80284500000005, -79.35623615099996]
M3H:[43.757565000000056, -79.44819079299998]
M4H:[43.70127000000008, -79.34984401799994]
M5H:[43.649515000000065, -79.38250344699998]
M6H:[43.66508694300006, -79.43870499999997]
M1J:[43.74312500000008, -79.23174973599998]
M2J:[43.780880000000025, -79.34779577599994]
M3J:[43.764665000000036, -79.48718266299994]
M4J:[43.688765344000046, -79.33417499999996]
M5J:[43.623470000000054, -79.39150736399995]
M6J:[43.64848500000005, -79.41774150899994]
M1K:[43.726244585000074, -79.26366999999993]
M2K:[43.781015000000025, -79.38054242199996]
M3K:[43.73902625000005, -79.46731999999997]
M4K:[43.68326150000007, -79.35511999999994]
M5K:[43.64710000000008, -79.38153109899997]
M6K:[43.639410000000055, -79.42436201999999]
M1L:[43.71313321100007, -79.28505499999994]
M2L:[43.75719200000003, -79.37986499999994]
M3L:[43.74088500000005, -79.50502651899995]
M4L:[43.66796500000004, -79.31467251099997]
M5L:[43.648205000000075, -79.37879339899996]
M6L:[43.71381000000008, -79.48830541199999]
M9L:[43.75950000000006, -79.55685235299995]
M1M:[43.72357500000004, -79.23497617799995]
M2M:[43.79147500000005, -79.41360487299994]
M3M:[43.73458500000004, -79.49315062599999]
M4M:[43.662765652000076, -79.33482999999995]
M5M:[43.735460000000046, -79.41916412899997]
M6M:[43.69454500000006, -79.48464278099993]
M9M:[43.733760000000075, -79.53752189499994]
M1N:[43.69666500000005, -79.26016331599999]
M2N:[43.76816500000007, -79.40741984599998]
M3N:[43.755330601000026, -79.51958999999994]
M4N:[43.72816000000006, -79.38708518799996]
M5N:[43.711941154000044, -79.41911999999996]
M6N:[43.67582500000003, -79.48205223199994]
M9N:[43.704855000000066, -79.51755242199994]
M1P:[43.759975000000054, -79.26897402899993]
M2P:[43.74785500000007, -79.40006223799998]
M4P:[43.712815000000035, -79.38852582199996]
M5P:[43.69478500000008, -79.41440483299994]
M6P:[43.65997500000003, -79.46287357999995]
M9P:[43.696300000000065, -79.53039862799994]
M1R:[43.750710464000065, -79.30055999999996]
M2R:[43.77769500000005, -79.44579657299994]
M4R:[43.71452278400005, -79.40695999999997]
M5R:[43.674840000000074, -79.40369769099993]
M6R:[43.64787000000007, -79.44976249999996]
M7R:[43.648690000000045, -79.38543999999996]
M9R:[43.686915000000056, -79.55727609599995]
M1S:[43.79394000000008, -79.26798280099996]
M4S:[43.70339500000006, -79.38596360499997]
M5S:[43.663110000000074, -79.40180056699995]
M6S:[43.64988500000004, -79.47492879599997]
M1T:[43.78472500000004, -79.29904659999994]
M4T:[43.69065500000005, -79.38356145799997]
M5T:[43.65357000000006, -79.39724915699998]
M1V:[43.817810000000065, -79.28024362199994]
M4V:[43.68608285400006, -79.40233499999994]
M5V:[43.64081500000003, -79.39953781899999]
M8V:[43.60987000000006, -79.49817823899997]
M9V:[43.743205000000046, -79.58470131599995]
M1W:[43.80088094900003, -79.32073999999994]
M4W:[43.681940000000054, -79.37847416699998]
M5W:[43.648690000000045, -79.38543999999996]
M8W:[43.60113082100003, -79.53878499999996]
M9W:[43.71174000000008, -79.57918134599998]
M1X:[43.83421500000003, -79.21670085099998]
M4X:[43.66816000000006, -79.36660236199998]
M5X:[43.64828000000006, -79.38146082599997]
M8X:[43.65369000000004, -79.51111717299995]
M4Y:[43.666585000000055, -79.38130203699995]
M7Y:[43.648690000000045, -79.38543999999996]
M8Y:[43.63276500000006, -79.48960141199996]
M8Z:[43.624630000000025, -79.52694976199996]

    Latitude  Longitude
0  43.752440 -79.329271
1  43.730421 -79.313320
2  43.655120 -79.362640
3  43.723125 -79.451589
4  43.661102 -79.391035

## concat geocode

In [86]:
pcdata_new=pd.concat([pcdata, data], axis=1)

In [89]:
pcdata_new.head(30)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.752440,-79.329271
1,M4A,North York,Victoria Village,43.730421,-79.313320
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.655120,-79.362640
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.723125,-79.451589
4,M7A,Queen's Park,Queen's Park,43.661102,-79.391035
5,M9A,Etobicoke,Islington Avenue,43.662242,-79.528379
6,M1B,Scarborough,"Rouge,Malvern",43.811525,-79.195517
7,M3B,North York,Don Mills North,43.749195,-79.361905
8,M4B,East York,"Woodbine Gardens,Parkview Hill",43.707535,-79.311773
9,M5B,Downtown Toronto,"Ryerson,Garden District",43.657363,-79.378180
10,M6B,North York,Glencairn,43.707990,-79.448367
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gardens,West Deane Park",43.649692,-79.553945
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.785730,-79.158750
13,M3C,North York,"Flemingdon Park,Don Mills South",43.721425,-79.343453
14,M4C,East York,Woodbine Heights,43.689665,-79.307169
15,M5C,Downtown Toronto,St. James Town,43.651210,-79.375481
16,M6C,York,Humewood-Cedarvale,43.692105,-79.430355
17,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old Burnhamthorpe",43.648573,-79.578250
18,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.765690,-79.175256
19,M4E,East Toronto,The Beaches,43.676845,-79.295225
20,M5E,Downtown Toronto,Berczy Park,43.645160,-79.373675
21,M6E,York,Caledonia-Fairbanks,43.688640,-79.451015
22,M1G,Scarborough,Woburn,43.768359,-79.217590
23,M4G,East York,Leaside,43.709765,-79.363901
24,M5G,Downtown Toronto,Central Bay Street,43.656091,-79.384930
25,M6G,Downtown Toronto,Christie,43.668781,-79.420710
26,M1H,Scarborough,Cedarbrae,43.769688,-79.239440
27,M2H,North York,Hillcrest Village,43.802845,-79.356236
28,M3H,North York,"Bathurst Manor,Downsview North,Wilson Heights",43.757565,-79.448191
29,M4H,East York,Thorncliffe Park,43.701270,-79.349844